html
  head
    title MyShop/About Us  
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css")
    body
      h1 About Us 
      nav 
        a(href="/") Home  
        a(href="/store") Store  
        a(href="/about us") About Us 
        a(href="/users/signup") Signup 
        a(href="/users/login") login 
      p Contact Details 
      p Email: support@MyShop.com.au
      p Phone: (+61)123 456 789