html
  head
    title MyShop 
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css")
    body
      h1 MyShop 
      nav 
        a(href="/") Home  
        a(href="/store") Store  
        a(href="/aboutus") About Us 
        a(href="/users/signup") Signup 
        a(href="/users/login") Login 
      p Welcome to MyShop the worlds best imaginary store!